body {
    height: 100vh;
    background-color: black;
}

#root {
    height:100%;
}

.container {
    height:100%;
    display: grid;
}

.leftMenu {
    
}

.leftMenu:hover{
    background-image: linear-gradient(to left, black,#1a1a1a, #333333);
}

.content {
    display: grid;
}

.page {
    /* background-color: black; */
    color: aqua;
}

.navbar {
    /* border-bottom: blue solid 5px; */
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: auto;
    }
    .leftMenu {
        display: none;
    }
    .content {
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: 25% auto;
    }
    .content {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .navbar {
        display: none;
    }
}